<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Order Success</title>

    <link rel="stylesheet"
          href="/css/user/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400;500;700&display=swap"
          rel="stylesheet">

</head>

<body>

<section class="success-page">

    <div class="success-box">

        <h1>ĐẶT HÀNG THÀNH CÔNG</h1>

        <p>

            Cảm ơn bạn đã mua hàng tại DTKT.

        </p>

        <a href="/"
           class="success-btn">

            QUAY VỀ TRANG CHỦ

        </a>

    </div>

</section>

</body>
</html>